.btn-blue {
	background-color: #4F68B1;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	transition: background-color 0.3s ease;
}

a:hover {
  background-color: #5C78CA;
  text-decoration: none;
}
